*
  margin: 0
  padding: 0

.checkbox-wrapper
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  top: 0
  bottom: 0
  right: 0
  left: 0
  width: 400px
  height: 200px
  margin: auto
  border: 1px solid black

  input[type="checkbox"]
    appearance: none
    -moz-appearance: none
    -webkit-appearance: none
    height: 80px
    width: 80px
    background-color: beige

